<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>$CONTENT_TITLE - $LAYOUT_TITLE</title>
</head>
<body>
  <nav th:fragment="header">
      <a th:href="@{/projects}" class="logo">Mello</a>
      <div class="right-nav">
          <a th:href="@{/profile}" sec:authorize="isAuthenticated()">
              <img class="ultra-small-img" th:src="'/image/' + ${image}"/>
          </a>
          <a th:href="@{/account?role=admin}" sec:authorize="${hasRole('ADMIN')}">Админ-панель</a>
          <a th:href="@{/account?role=doctor}" sec:authorize="${hasRole('DOCTOR')}">Кабинет врача</a>
          <a th:href="@{/account?role=patient}" sec:authorize="${hasRole('PATIENT')}">Кабинет пациента</a>
      </div>
  </nav>
</body>
</html>