<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>$CONTENT_TITLE - $LAYOUT_TITLE</title>
</head>
<body>
  <nav th:fragment="header">
      <div class="left-nav">
          <a th:href="@{/projects}" class="logo">Mello</a>
          <a th:href="@{/projects/{projectId}/members(projectId=${projectId})}"
             th:if="${projectPage != null}" class="header-link">Участники</a>
      </div>
      <div class="right-nav">
          <a th:href="@{/profile}" sec:authorize="isAuthenticated()">
              <img class="ultra-small-img" th:src="'/image/' + ${image}"/>
          </a>
      </div>
  </nav>
</body>
</html>