#list-container {
  width: 100%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  box-sizing: border-box;
  overflow-x: auto;
}
.list {
  width: 350px;
  border-radius: 3px;
  background-color: rgb(218, 218, 218);
  padding: 10px 20px 0 20px;
  box-sizing: border-box;
  margin-right: 50px;
  padding-bottom: 5px;
}
.card {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 2px 2px 5px rgb(113, 113, 113);
}
.card.dragging {
  opacity: 0.4;
}
.card .title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.list h1 {
  text-align: center;
  margin-bottom: 10px;
}
.add-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  flex-direction: column;
}
#list-container > * {
  flex: 0 0 auto;
}
.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-header .image-button {
  margin-left: 10px;
}