body{
    height: 100%;
    margin: 0;
    background: #F6F8FB;
    font-family: 'Open Sans', sans-serif;
}
html {
    height: 100%;
}
input[type=text], input[type=password], input[type=date],  select{
    height: 25px;
}
h1, h2, h3, p{
    margin: 0;
}
textarea{
    height: 130px;
}
.container{
    padding: 0 50px;
    max-width: 1440px;
    margin: auto;
}
.block{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}
/* Reset buttons styles */
.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
}
.button{
    text-decoration: none;
    color: white;
    background: #6AAFFF;
    border-radius: 8px;
    min-width: 120px;
}
.button:hover{
    color: black;
    background: #BDDBFF;
}
.red-button{
    background: #ff6565;
}
.red-button:hover{
    background: #ffa5a5;
    color: black;
}
.content{
    margin: 10px 0;
}
.center{
    text-align: center;
}
.head-title{
    text-align: center;
    margin: 20px 0;
}
.buttons-block{
    margin-top: 5px;
}
.buttons-block-around{
    display: flex;
    justify-content: space-around;
}
.block-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px gray solid;
    align-items: center;
}
.narrow-block{
    margin: 10% 35% 0;
}
.border-bottom{
    border-bottom: 1px gray solid;
}
.title{
    font-weight: bold;
}
.link{
    color: #6AAFFF;
    text-decoration: none;
}
.link:hover{
    color: #0034ff;
}
.small-img{
    width: 200px;
    height: 200px;
}
.space-between{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.form *{
    margin: 5px 0;
}
.red{
    color: red;
}
.green{
    color: green;
}
.buttons-align-center{
    display: flex;
    align-items: center;
}
.narrow-center {
    display: flex;
    justify-content: center;
}
.error {
    margin-top: 250px;
}
.error h1 {
    font-size: 80px;
}

/* === */
.center-block {
    margin: 15px auto 5px auto;
    display: flex;
    flex-direction: column;
}
.profile {
    margin-top: 75px;
    display: flex;
    align-items: center;
}
.profile p {
    font-size: 30px;
    margin-left: 50px;
}
.menu-buttons {
    border-top: solid 1px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.menu-button {
    background: #6AAFFF;
    padding: 15px 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.menu-button:hover {
    color: black;
    background: #BDDBFF;
}
.profile-edit {
    margin: 20px auto;
    background: none;
    width: 350px;
}
.avatar-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.avatar-right {
    display: flex;
    flex-direction: column;
}
.ultra-small-img {
    width: 60px;
    height: 60px;
}
.row {
    display: flex;
    flex-decoration: row;
}
.projects-buttons {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    justify-content: space-around;
    border-left: 1px solid;
    margin-right: 50px;
}
.project-button {
    background: #6AAFFF;
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.project-button:hover {
    color: black;
    background: #BDDBFF;
}
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
}
.project {
    height: 130px;
    width: 200px;
    margin-right: 20px;
    background: #bfbfbf;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.icon-button {
    width: 30px;
    height: 30px;
}
.projects a {
    text-decoration: none;
    padding: 0px;
    color: black;
}
.projects form {
    margin: 0 10px;
}
.margin-top {
    margin-top: 100px;
}
.project-buttons {
    display: flex;
}
.project .project-name {
    text-align: center;
    font-size: 20px;
}
.project-buttons {
    display: flex;
    justify-content: center;
}
.active {
    background: #BDDBFF;
    color: black;
}
.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.image-button:hover {
    opacity: 0.8;
}
.flex {
    display: flex;
}
.add-task {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    background-color: rgb(218, 218, 218);
    padding: 5px;
}
#subtasks-container input{
    margin-right: 10px;
}
.subtask-block {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.subtask-block input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.subtask-input-block {
    display: flex;
}
.member {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    background: #f4f4f4;
}
.member div {
    display: flex;
    align-items: center;
}
.member p {
    margin-left: 10px;
    margin-right: 20px;
}
.align-center {
    align-items: center;
}
.add-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    margin-top: 20px;
}
.add-user p {
    margin-top: 5px;
    margin-right: 20px;
}
.add-user input[type=text] {
    width: 200px;
}
.projectTitle {
    font-size: 30px;
}