<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проект</title>
</head>
<body>
<div layout:fragment="content" id="list-container">
    <div th:each="list : ${lists}">
        <div class="list" th:id="'list-' + ${list.getId()}">
            <div class="list-header">
                <h1 th:text="${list.getTitle()}"></h1>
                <form th:action="@{/projects/{id}/lists/{listingId}/change(id=${projectId}, listingId=${list.getId()})}"
                      method="post" class="edit-button flex">
                    <input type="text" class="listTitleInput" name="newListName" th:value="${list.getTitle()}" hidden="hidden">
                    <button type="button" th:onclick="|changeListTitle('list-${list.getId()}')|" class="image-button">
                        <img class="icon-button" th:src="'/image/edit.png'"/>
                    </button>
                    <button type="submit" class="image-button" hidden="hidden">
                        <img class="icon-button" th:src="'/image/correct.png'"/>
                    </button>
                </form>
                <form th:action="@{/projects/{id}/lists/{listingId}/delete(id=${projectId}, listingId=${list.getId()})}"
                      method="post" class="trash-button">
                    <button type="submit" class="image-button">
                        <img class="icon-button" th:src="'/image/trash.png'"/>
                    </button>
                </form>
            </div>
            <div class="card" th:id="'card-' + ${task.getId()}" draggable="true" th:each="task : ${list.getTasks()}">
                <a class="title"
                   th:href="@{/projects/{projectId}/tasks/{taskId}(projectId=${projectId}, taskId=${task.getId()})}" th:text="${task.getTitle()}"></a>
                <p class="description" th:text="${task.getDescription()}"></p>
            </div>
        </div>
        <div class="add-task">
            <a th:href="@{/projects/{id}/lists/{listingId}/tasks/new(id=${projectId}, listingId=${list.getId()})}">
                <img class="ultra-small-img" th:src="'/image/plus.png'"/>
            </a>
        </div>
    </div>
    <div class="add-list">
        <p>Добавить список</p>
        <a th:href="@{/projects/{id}/add-listing(id=${projectId})}">
            <img class="ultra-small-img" th:src="'/image/plus.png'"/>
        </a>
    </div>
    <script th:src="@{/js/dragdrop.js}"></script>
    <script th:src="@{/js/project.js}"></script>
</div>
</body>
</html>