<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проект</title>
</head>
<body>
<div layout:fragment="content" id="list-container">
    <div class="list" th:id="'list-' + ${list.getId()}" th:each="list : ${lists}">
        <h1 th:text="${list.getTitle()}"></h1>
        <div class="card" th:id="'card-' + ${task.getId()}" draggable="true" th:each="task : ${list.getTasks()}">
            <p class="title" th:text="${task.getTitle()}"></p>
            <p class="description" th:text="${task.getDescription()}"></p>
        </div>
    </div>
    <script th:src="@{/js/dragdrop.js}"></script>
    <script th:src="@{/js/project.js}"></script>
</div>
</body>
</html>