<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать задачу</title>
</head>
<body>
<div layout:fragment="content" class="narrow-block">
    <h1 class="head-title">Редактировать задачу</h1>
    <form class="block form"
          th:action="@{/projects/{id}/tasks/{taskId}(id=${projectId}, taskId=${task.getId()})}"
          th:method="post" th:object="${task}">
        <label for="title">Название</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Название" required>
        <span th:if="${#fields.hasErrors('title')}" class="red" th:errors="*{title}"></span>

        <label for="title">Описание</label>
        <input type="text" th:field="*{description}" id="description" placeholder="Описание">
        <span th:if="${#fields.hasErrors('description')}" class="red" th:errors="*{description}"></span>
        <div class="buttons-block-around">
            <a type="button" class="button" th:href="@{/projects/{id}(id=${projectId})}">Назад</a>
            <input type="submit" value="Редактировать" class="button">
        </div>
    </form>
</div>
</body>
</html>