<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать задачу</title>
</head>
<body>
<div layout:fragment="content" class="narrow-block">
    <h1 class="head-title">Редактировать задачу</h1>
    <div class="block">
        <div class="buttons-block-around">
            <form th:method="post"
                  th:action="@{/projects/{projectId}/tasks/{taskId}/delete(taskId=${task.getId()}, projectId=${projectId})}">
                <input type="submit" class="red-button button" value="Удалить задачу">
            </form>
        </div>
    </div>
    <form class="block form"
          th:action="@{/projects/{id}/tasks/{taskId}(id=${projectId}, taskId=${task.getId()})}"
          th:method="post" th:object="${task}">
        <label for="title">Название</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Название" required>
        <span th:if="${#fields.hasErrors('title')}" class="red" th:errors="*{title}"></span>

        <label for="title">Описание</label>
        <input type="text" th:field="*{description}" id="description" placeholder="Описание">
        <span th:if="${#fields.hasErrors('description')}" class="red" th:errors="*{description}"></span>
        <div class="buttons-block-around">
            <a type="button" class="button" th:href="@{/projects/{id}(id=${projectId})}">Назад</a>
            <input type="submit" value="Сохранить" class="button">
        </div>
    </form>
    <div class="block">
        <div class="block-header">
            <p>Подзадачи</p>
            <a type="button" class="button"
               th:href="@{/projects/{projectId}/tasks/{id}/subtasks/new(projectId=${projectId}, id=${task.getId()})}">Добавить</a>
        </div>
        <div th:each="subtask : ${task.getSubtasks()}" class="subtask-block">
            <div class="subtask-input-block">
                <input type="checkbox" th:id="'subtask-'+${subtask.getId()}"
                       th:checked="${subtask.isComplete()}"
                       th:onclick="|updateSubtaskStatus(${projectId}, ${task.getId()}, ${subtask.id}, this.checked)|"/>
                <label th:for="'subtask-'+${subtask.getId()}" th:text="${subtask.getTitle()}"></label>
            </div>
            <form th:method="post"
                  th:action="@{/projects/{projectId}/tasks/{taskId}/subtasks/{id}/delete(taskId=${task.getId()}, projectId=${projectId}, id=${subtask.getId()})}">
                <input type="submit" class="red-button button" th:value="Удалить">
            </form>
        </div>
    </div>
    <script th:src="@{/js/subtask.js}"></script>
</div>
</body>
</html>